$font-family: 'Signika', sans-serif;
$PrincipalColor : #000000;
$SecondaryColor: #6C6C6C;
$TertiaryColor: #5A8E48;
$QuaternaryColor: #EDB946;
$QuinaryColor: #FEAF00;
$SextiaryColor: #694BDB;
$SeventiaryColor: #2BEBC8;
$OctaryColor: #FF7777;
$NonaryColor: #C4C4C4;
$SidebarColor: #F2EAE1;
$TableColor: #FFFFFF;

*{
    margin: 0;
    padding: 0;
    font-family: $font-family;
}